*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --orange: #FFBA9D;
    --red: #891900;
    --black: #000000;
    --white: #FFFFFF;
    --gray-500: #2B2B2B;
    --gray-400: #474747;
    --gray-300: #777777;
    --gray-200: #DFDFDF;
    --gray-100: #F4F4F4;
    --text-xl: 24px;
    --text-lg: 19px;
    --text-base: 16px;
    --text-sm: 12px;
}
html {
    scroll-behavior: smooth;
}
body, input, textarea, button{
    font-family: 'Roboto Mono', monospace;
    font-size: var(--text-base);
    line-height: 32px;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 500;
    color: var(--black);
}
.heading-1, h1{
    font-size: var(--text-xl);
    line-height: 36px;
}
.heading-2, h2{
    font-size: var(--text-lg);
    line-height: 28px;
}
.body-text-1{
    font-size: var(--text-base);
    line-height: 32px;
}
.body-text-2{
    font-size: var(--text-base);
    line-height: 24px;
    font-weight: 300;
}
.body-text-sm{
    font-size: var(--text-sm);
    line-height: 14px;
}
p{
    margin-bottom: 32px;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 10px;
}
/* 
    Media Query Base
*/
@media only screen and (max-width: 991px){

}

/* 
    Atoms
*/
.btn{
    font-size: var(--text-base);
    font-weight: 400;
    line-height: 24px;
    padding: 12px 24px;
    display: inline-block;
    background-color: var(--gray-400);
    color: var(--white);
    border-radius: 3px;
    text-decoration: none;
    border: none;
    transition: all 300ms ease-in-out;
}
.btn:hover,.btn:active{
    background-color: var(--gray-500);
}

.arrow-btn{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-100);
    border-radius: 3px;
    transition: all 300ms ease-in-out;
    border: 1px solid var(--gray-100);
}
.arrow-btn:hover{
    border: 1px solid var(--gray-400);
}

/* 
    Header
*/
header{
    padding-top: 96px;
}
.header-content{
    display: flex;
    justify-content: space-between;
}
.nav-search{
    display: flex;
}
nav ul{
    display: flex;
    gap: 48px;
}
nav li{
    list-style: none;
    position: relative;
}
nav a{
    line-height: 32px;
    display: inline-block;
    text-decoration: none;
    color: var(--gray-300);
    transition: all 300ms ease-in-out;
    position: relative;
    width: 100%;
}
nav a:hover,
nav a:active,
nav li.active a{
    color: var(--gray-400);
}
nav li.has-submenu a{
    position: relative;
}
nav li.has-submenu.show>a::after{
    display: none;
}
nav li.has-submenu>a::before{
    content: '';
    width: 11px;
    height: 6px;
    position: absolute;
    right: 0;
    top: 15px;
    background-image: url(img/arrow-down.svg);
    background-repeat: no-repeat;
} 

nav a::after{
    content: '';
    background-color: var(--gray-400);
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: transform .3s linear;
    transform: scaleX(0);
    transform-origin: right;
}
nav a:hover::after,
nav a:active::after,
nav li.active a::after{
    transform: scaleX(1);
    transform-origin: left;
}
nav .submenu{
    display: block;
    flex-direction: column;
    gap: unset;
    z-index: 5;
}
nav .submenu a{
    width: max-content;
    min-width: 100%;
    display: flex;
    align-items: center;
}
nav .submenu a::after{
    display: none;
}
nav .submenu a:hover{
    background-color: var(--gray-100);
}
.search{
    margin-left: 100px;
    min-width: 265px;
    position: relative;
}
.search input{
    width: 100%;
    height: 40px;
}
.search button{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.nav-btn,.nav-remove{
    width: 24px;
    height: 14px;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
.nav-btn span,.nav-remove span{
    width: 100%;
    height: 2px;
    background-color: var(--black);
}
/* 
    Media Query Header
*/
/* Desktop Version Override */
@media only screen and (min-width: 992px){
    nav .submenu{
        display: none;
    }
    nav li.has-submenu.show .submenu{
        display: block;
    }
    nav .submenu {
        border: 1px solid var(--gray-300);
        position: absolute;
        background-color: white;
        margin-top: 8px;
    }
    nav .submenu a{
        padding-inline: 40px;
        height: 40px;
    }
    nav a{
        width: unset;
    }
    nav li.has-submenu>a::before{
        right: -22px;
    }
}
@media only screen and (max-width: 991px){
    header {
        padding-top: 24px;
    }
    .header-content{
        flex-wrap: wrap;
        row-gap: 48px;
    }
    .header-content nav {
        position: fixed;
        width: 320px;
        height: 100vh;
        top: 0;
        right: 0;
        background-color: var(--white);
        z-index: 9;
        border: 1px solid var(--gray-400);
        transform: translateX(100%);
        transition: transform 300ms linear;
    }
    .header-content nav.show {
        transform: translateX(0px);
    }
    .header-content nav a::after{
        display: none;
    }
    .header-content nav ul{
        flex-direction: column;
        gap: 16px;
        padding: 48px 16px;
    }
    .header-content nav>ul>li>a{
        color: var(--gray-400);
    }
    .header-content nav ul.submenu{
        padding: 16px 24px;
    }
    .nav-btn{
        display: flex;
    }
    .nav-search{
        width: 100%;
        flex: 0 0 100%;
    }
    .search{
        width: 100%;
        margin-left: 0;
    }
    .nav-remove{
        display: flex;
        position: fixed;
        top: 10px;
        right: 10px;
    }
    .nav-remove span{
        transition: transform 300ms linear;
        transition-delay: 600ms;
    }
    .nav-remove span:first-child{
        transform-origin: left;
        position: relative;
        transform: rotate(45deg) scaleX(0%);
        top: 12px;
    }
    .nav-remove span:last-child{
        position: relative;
        transform: rotate(-45deg) scaleX(0%);
        top: 0px;
        transition-delay: 1000ms;
        transform-origin: right;
        left: -7px;
    }
    .header-content nav.show .nav-remove span:first-child{
        transform: rotate(45deg) scaleX(100%);
    }
    .header-content nav.show .nav-remove span:last-child{
        transform: rotate(-45deg) scaleX(100%);
    }
}
@keyframes Menubutton{
    0%{ 
        opacity: 0;
        z-index: 0;
    }
    50%{
        opacity: 0;
        z-index: 15;
    }
    100%{
        opacity: 1;
        z-index: 15;
    }
}


/* 
    Form Element
*/
input{
    background-color: var(--gray-100);
    border-radius: 3px;
    height: 44px;
    font-size: 12px;
    line-height: 16px;
    border: none;
    padding: 15px 14px;
}
input:focus,
input:active{
    border: none;
    outline: none;
}
/* 
    Media Query form
*/
@media only screen and (max-width: 991px){

}


/* 
    Footer
*/
footer{
    background-color: var(--gray-100);
    position: relative;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 31px;
}
.footer-content p{
    margin-bottom: 0;
}
.social-links{
    list-style: none;
    display: flex;
    column-gap: 24px;
    line-height: initial;
}
.back-top{
    width: 63px;
    height: 63px;
    border-radius: 63px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 67px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-top img{
    margin-top: 20px;
}
/* 
    Media Query footer
*/
@media only screen and (max-width: 991px){
    
}
@media only screen and (max-width: 576px){
    .footer-content{
        flex-direction: column-reverse;
        row-gap: 24px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .back-top{
        bottom: 142px;
    }
}


.main-content {
    display: flex;
    justify-content: center;
    margin-block: 96px;
}
/* 
    Media Query Main
*/
@media only screen and (max-width: 991px){
    .main-content {
        flex-direction: column-reverse;
        row-gap: 96px;
    }
}


/* 
    Post List
*/
.post-list{
    flex: 0 0 66.67%;
    width: 66.67%;
}
.post-list h1{
    margin-bottom: 24px;
}
.post-list .category-list{
    margin-bottom: 40px;
}
.post-items article{
    padding-bottom: 48px;
    margin-bottom: 48px;
    border-bottom: 1px solid var(--gray-200);
}
.post-items article:last-child{
    border-bottom: none;
}
.post-items article a{
    font-size: 12px;
    line-height: 14px;
    color: var(--gray-300);
    text-decoration: none;
}
.post-title-area{
    display: flex;
}
.post-title-area h2{
    flex: 0 0 75%;
    width: 75%;
}
.post-title-area>div{
    flex: 0 0 25%;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    align-self: baseline;
    gap: 4px;
    justify-content: flex-end;
    max-height: 64px;
    overflow: hidden;
}
.tag{
    color: var(--gray-400);
    background-color: var(--gray-100);
    border-radius: 3px;
    text-transform: uppercase;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination{
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.pagination a{
    text-decoration: none;
    color: var(--gray-400);
}
.pagination a.active{
    color: var(--orange);
}
.pagination a:first-child{
    margin-right: 8px;
}
.pagination a:last-child{
    margin-left: 8px;
}

.category-list{
    display: flex;
    column-gap: 48px;
    align-items: center;
    position: relative;
}
.category-list::after{
    content: '';
    background-color: var(--gray-200);
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -8px;
    z-index: -1;
}
.category-list a.active::after{
    transform: scaleX(1);
    transform-origin: left;
}
.category-list a.active{
    color: var(--gray-400);
}
/* 
    Media Query Post Loop
*/
@media only screen and (max-width: 991px){
    .post-list{
        flex: 0 0 100%;
        width: 100%;
    }
    .pagination{
        justify-content: center;
    }
}
@media only screen and (max-width: 576px){
    .post-title-area{
        flex-direction: column;
        row-gap: 24px;
    }
    .post-title-area h2 {
        flex: 0 0 100%;
        width: 100%;
    }
    .post-title-area>div{
        max-height: unset;
        flex: 0 0 100%;
        width: 100%;
        justify-content: flex-start;
    }
}

/* 
    Side bar
*/
aside,.sidebar{
    flex: 0 0 33.33%;
    width: 33.33%;
}
.widget{
    padding-right: 25%;
}
.widget h2{
    margin-bottom: 36px;
}
.widget .social-links{
    margin-top: 48px;
}
.exclusive-btn{
    display: flex;
    align-items: center;
    color: var(--gray-400);
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}
.exclusive-btn span{
    margin-left: 16px;
    width: 20px;
    height: 20px;
}
.exclusive-btn span img{
    width: 4px;
}
/* 
    Media Query Sidebar
*/
@media only screen and (max-width: 991px){
    aside,.sidebar{
        flex: 0 0 100%;
        width: 100%;
    }
    .widget{
        padding-right: 0;
        max-width: 380px;
        margin: 0 auto;
    }
}



/* 
    Animation
*/

