*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --orange: #FFBA9D;
    --red: #891900;
    --black: #000000;
    --white: #FFFFFF;
    --gray-500: #2B2B2B;
    --gray-400: #474747;
    --gray-300: #777777;
    --gray-200: #DFDFDF;
    --gray-100: #F4F4F4;
    --text-xl: 24px;
    --text-lg: 19px;
    --text-base: 16px;
    --text-sm: 12px;
}
html {
    scroll-behavior: smooth;
}
body, input, textarea, button{
    font-family: 'Roboto Mono', monospace;
    font-size: var(--text-base);
    line-height: 32px;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}
.heading-1, h1{
    font-size: var(--text-xl);
    line-height: 36px;
}
.heading-2, h2{
    font-size: var(--text-lg);
    line-height: 28px;
}
.body-text-1{
    font-size: var(--text-base);
    line-height: 32px;
}
.body-text-2{
    font-size: var(--text-base);
    line-height: 24px;
    font-weight: 300;
}
.body-text-sm{
    font-size: var(--text-sm);
    line-height: 14px;
}
p{
    margin-bottom: 32px;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 10px;
}

/* 
    Atoms
*/
.btn{
    font-size: var(--text-base);
    font-weight: 400;
    line-height: 24px;
    padding: 12px 24px;
    display: inline-block;
    background-color: var(--gray-400);
    color: var(--white);
    border-radius: 3px;
    text-decoration: none;
    border: none;
    transition: all 300ms ease-in-out;
}
.btn:hover,.btn:active{
    background-color: var(--gray-500);
}

.arrow-btn{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-100);
    border-radius: 3px;
    transition: all 300ms ease-in-out;
    border: 1px solid var(--gray-100);
}
.arrow-btn:hover{
    border: 1px solid var(--gray-400);
}

/* 
    Header
*/
header{
    padding-top: 96px;
}
.header-content{
    display: flex;
    justify-content: space-between;
}
.nav-search{
    display: flex;
}
nav ul{
    display: flex;
    gap: 48px;
}
nav li{
    list-style: none;
}
nav a{
    line-height: 32px;
    display: inline-block;
    text-decoration: none;
    color: var(--gray-300);
    transition: all 300ms ease-in-out;
    position: relative;
}
nav a:hover,
nav a:active,
nav li.active a{
    color: var(--gray-400);
}

nav a::after{
    content: '';
    background-color: var(--gray-400);
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: transform .3s linear;
    transform: scaleX(0);
    transform-origin: right;
}
nav a:hover::after,
nav a:active::after,
nav li.active a::after{
    transform: scaleX(1);
    transform-origin: left;
}
.search{
    margin-left: 100px;
    min-width: 265px;
    position: relative;
}
.search input{
    width: 100%;
    height: 40px;
}
.search button{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}


/* 
    Form Element
*/
input{
    background-color: var(--gray-100);
    border-radius: 3px;
    height: 44px;
    font-size: 12px;
    line-height: 16px;
    border: none;
    padding: 15px 14px;
}
input:focus,
input:active{
    border: none;
    outline: none;
}


/* 
    Footer
*/
footer{
    background-color: var(--gray-100);
    position: relative;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 31px;
}
.footer-content p{
    margin-bottom: 0;
}
.social-links{
    list-style: none;
    display: flex;
    column-gap: 24px;
    line-height: initial;
}
.back-top{
    width: 63px;
    height: 63px;
    border-radius: 63px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 67px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-top img{
    margin-top: 20px;
}



.main-content {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-block: 96px;
}
/* 
    Post List
*/
.post-list{
    flex: 0 0 66.67%;
    width: 66.67%;
}

.post-list h1{
    margin-bottom: 24px;
}
.post-list .category-list{
    margin-bottom: 40px;
}
.post-items article{
    padding-bottom: 48px;
    margin-bottom: 48px;
    border-bottom: 1px solid var(--gray-200);
}
.post-items article:last-child{
    border-bottom: none;
}
.post-items article a{
    font-size: 12px;
    line-height: 14px;
    color: var(--gray-300);
    text-decoration: none;
}
.post-title-area{
    display: flex;
}
.post-title-area h2{
    flex: 0 0 75%;
    width: 75%;
}
.post-title-area>div{
    flex: 0 0 25%;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    align-self: baseline;
    gap: 4px;
    justify-content: flex-end;
    max-height: 64px;
    overflow: hidden;
}
.tag{
    color: var(--gray-400);
    background-color: var(--gray-100);
    border-radius: 3px;
    text-transform: uppercase;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination{
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.pagination a{
    text-decoration: none;
    color: var(--gray-400);
}
.pagination a.active{
    color: var(--orange);
}
.pagination a:first-child{
    margin-right: 8px;
}
.pagination a:last-child{
    margin-left: 8px;
}

.category-list{
    display: flex;
    column-gap: 48px;
    align-items: center;
    position: relative;
}
.category-list::after{
    content: '';
    background-color: var(--gray-200);
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -8px;
    z-index: -1;
}
.category-list a.active::after{
    transform: scaleX(1);
    transform-origin: left;
}
.category-list a.active{
    color: var(--gray-400);
}

/* 
    Side bar
*/
aside,.sidebar{
    flex: 0 0 33.33%;
    width: 33.33%;
}
.widget{
    padding-right: 25%;
}
.widget h2{
    margin-bottom: 36px;
}
.widget .social-links{
    margin-top: 48px;
}
.exclusive-btn{
    display: flex;
    align-items: center;
    color: var(--gray-400);
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}
.exclusive-btn span{
    margin-left: 16px;
    width: 20px;
    height: 20px;
}
.exclusive-btn span img{
    width: 4px;
}